[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gtts = "*"
pdfplumber = "*"
aiogram = "*"
docx2pdf = "*"
textract = "*"
loguru = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
